.Nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border: solid #FFF 1px;
  padding: 0;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
}

.Nav__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 0 5em;
  border-right: 1px solid white;
}

.Nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 5em;
  border-left: 1px solid white;
  gap: 1.5rem;
}

.Nav__item {
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

.Nav__item:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.Nav__link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}
.Nav__link:hover {
  color: #646cff;
}


