.FormImageDisplayer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.FormImageDisplayer .image-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.FormImageDisplayer .image-container img {
  max-width: 200px;
  height: 100%;
  object-fit: cover;
}

.FormImageDisplayer .remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 0;
}
