.Page__grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.40fr;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.Page__content{
  display: flex;
  flex-direction:column;
  gap: 2em;
  white-space: pre-wrap;
}
.Page__content__title{
  font-size: 2em;
  font-weight: 600;
}
.Page__content__text{
  font-size: 20px;
}
.Page__content__author{
  display: flex;
  flex-direction: row-reverse;
}

.Page__images{
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.Page__images img {
  max-width: 80%;
}

